<% layout('./layouts/boilerplate')%>

<div id="admin-banner">
    <div class="flex-container">
        <h1>admin.</h1>
    </div>
</div>

<main>

    <%- include('../partials/adminnav') %>

    <% if( messages != "") { %>
        <div class="alert">
            <%=messages%>
        </div>
    <% } %>

    <section>
            
        <h2>Welcome to Admin Area!</h2>
        <p>Choose your action!</p>

    </section>

</main>