<% if(currentUser) { %>
<div id="admin-nav">
    <ul>
        <li><a href="/admin/">Dashboard</a></li> |
        <li><a href="/admin/projects">All Projects</a></li> |
        <li><a href="/admin/projects/new">Add New Project</a></li> |
        <li><a href="">Pages</a></li> |
        <li><a href="/users/logout">Logout</a></li>
    </ul>
</div>
<% }  %>   