<% if(currentUser) { %>

<div id="admin-nav">
    <ul>
        <li><a href="/admin/">Dashboard</a></li> |
        <li><a href="/projects">Manage Projects</a></li> |
        <li><a href="/projects/new">Add New Project</a></li> |
        <li><a href="/pages">Manage Pages</a></li> |
        <li><a href="/new">New Page</a></li> |
        <li><a href="/users">Show Users</a></li> |
        <li><a href="/users/logout">Logout</a></li>
    </ul>
</div>

<% }  %>   