

<header>
        
    <nav>
        <a href="/" id="logo">oikkis.</a>

        <ul>
            <% for(let item of menu) { %>
                <% if(item.url === 'home') { %>
                    <li><a href="/"><%=item.title%></a></li>
                <% } else { %>
                    <li><a href="/<%=item.url%>"><%=item.title%></a></li>
                <% } %>
                
            <% } %>
        </ul>
        
    </nav>

</header>

