

<header>
        
    <nav>
        <a href="/" id="logo">oikkis.</a>

        <ul>
            <li><a href="/" class="current-page">Home</a></li>
            <li><a href="/page">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
    </nav>

</header>

