<%- include('partials/head') %>
<%- include('partials/navbar') %>


    
    <div id="sub-banner">
        <div class="flex-container">


        </div>
    </div>
    
    
    
    <main>
   

        <section>
            <h2>404 - sorry nothing found</h2>

            
        </section>

    </main>

    <%- include('partials/footer') %>