<% layout('layouts/boilerplate')%>




<main>
    <section>
        <h2><%=err.message%></h2>
        <p><%=err.stack%></p>
        <p style="text-align: center;"><a onclick="history.go(-1); return false;" style="cursor:pointer;">Back to previous page</a></p>
    </section>
</main>
