<% layout('layouts/boilerplate')%>
    

        <section>
        <div class="txtCont">
            <h1>Hei, I'm Mikko.</h1>
            <p class="intro">I do web development</p>
            <p>Currently I use and learn modern full stack technologies ie. HTML5, Modern CSS, Javascript and Node.js/MongoDb. 
                I'm not an expert yet by any mean, but will getting better day by day.
                In past have done many projects with HTML/CSS, PHP/MySQL/jQUERY and as well Joomla and Wordpress. 
                Some of them even still alive.</p>
            <p>In a free time i like to spend my time in nature, do some walking or hiking. 
                Or maybe read a book or watch some Netflix. You can follow me by instagram.</p>
            </div>
        </section>

        <section id="mywork">
            <%- include('../partials/projects') %>
        </section>

