<% layout('layouts/boilerplate')%>

    
    <div id="sub-banner">
        <div class="flex-container">


        </div>
    </div>
    
    
    
    <main>
        <% if( messages != "") { %>
            <div class="alert">
                <%=messages%>
            </div>
        <% } %>
        
        <section id="page">
            <p>Coming soon</p>
        </section>

    </main>
