<% layout('layouts/boilerplate')%>
    
    <main>
        
        <section id="contact">
            <h2>Contact</h2>

            <div class="panel">
                <div class="contact-content">
                    <% if (page) { %>
                        <%- page.content -%>
                    <% } else { %>
                        <h3>Page not found!</h3>
                    <% } %>
                </div>
                <div class="contact-form">
                    <form action="/contact" method="post" id="contact" class="contact">

                            <label for="yourName">Enter your name</label>
                            <input type"text" id="yourName" name="yourName" placeholder="Name">
                           

                            <label for="yourEmail">Enter your email</label>
                            <input type"email" id="yourEmail" name="yourEmail" placeholder="Email" >

                            <label for="yourMsg">Give me your feedback/comment:</label>
                            <textarea name="yourMsg" id="yourMsg" cols="30" rows="10"></textarea>

                        <div class="frm-button">
                            <button>Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </main>
