<% layout('layouts/boilerplate')%>
    

        <section>
            <% if (page) { %>
                <%- page.content -%>
            <% } else { %>
                <h3>Page not found!</h3>
            <% } %>
         
        </section>

