<% layout('layouts/boilerplate')%>

    <section>
            
        <h2>Edit Your User details</h2>
    
        <div class="admin-form">

            <form action="/users/<%=user._id%>?_method=PUT" method="post">

                <div class="form-control">
                    <label for="username">Username:</label>
                    <input type"text" id="username" name="username" value="<%=user.username%>">
                </div>

                <div class="form-control">
                    <label for="email">Email:</label>
                    <input type"url" id="email" name="email" value="<%=user.email%>">
                </div>


                <div class="form-control"><button>Update</button></div>
            </form>
            <p></p>
        </div>

    </section>
