<% layout('layouts/boilerplate')%>

<div id="admin-banner">
    <div class="flex-container">
        <h1>admin. Login</h1>
    </div>
</div>

<main>

    <%- include('../partials/adminnav') %>

    <section>
            
        <h2>Login to admin area</h2>
    
        <div class="admin-form">

            <form action="/users/login" method="post">

                <div class="form-control">
                    <label for="username">Username:</label>
                    <input type"text" id="username" name="username">
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
                    <input type"password" id="password" name="password" >
                </div>

                <div class="form-control"><button>Login</button></div>
            </form>
            <p></p>
        </div>

    </section>

</main>