<% layout('layouts/boilerplate')%>

<div id="admin-banner">
    <div class="flex-container">
        <h1>admin. register</h1>
    </div>
</div>

<main>

    <%- include('../partials/adminnav') %>

    <section>
            
        <h2>Register New User</h2>
    
        <div class="admin-form">

            <form action="/users/register" method="post">

                <div class="form-control">
                    <label for="username">Username:</label>
                    <input type"text" id="username" name="username">
                </div>

                <div class="form-control">
                    <label for="email">Email:</label>
                    <input type"url" id="email" name="email">
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
                    <input type"password" id="password" name="password" >
                </div>

                <div class="form-control"><button>Register</button></div>
            </form>
            <p></p>
        </div>

    </section>

</main>